{% extends 'bootstrap.html' %}

{% load bootstrap4 %}


{% block bootstrap4_before_content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Plex Media Wrangler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media Libraries</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          {% for section in plex_sections %}
            <a class="dropdown-item" href="{{ section.get_absolute_url }}">{{ section }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'report_pending_delete' %}">Pending Delete<a>
            <a class="dropdown-item" href="{% url 'report_pending_move' %}">Pending Move<a>
        </div>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="/accounts/logout">Logout {{ user }}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login">Login</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block bootstrap4_content %}
<main role="main" class="container">
        <h1>{% block title %}Plex Media Wrangler{% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        <br/>
        {% block content %}(no content){% endblock %}
</main>

{% endblock %}
