{% extends 'bootstrap4/bootstrap4.html' %}

{% load static %}

{% block bootstrap4_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap4_extra_head %}
            <!-- <script type="text/javascript" src="/static/js/jquery.js" /> -->
                <link rel="stylesheet" href="{% static "jquery-ui/jquery-ui.min.css" %}" />
                <script src="{% static "jquery-ui/external/jquery/jquery.js" %}"></script>
                <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
{% endblock %}
