{% extends 'base.html' %}

{% block content %}

<p>Recently Added Movies</p>

<div class="row">
    {% for movie in recent_movies %}
        <div class="col-xs-2">
            {% include 'movie/_mini.html' %}
        </div>
    {% endfor %}
</div>

{% endblock %}
