{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load activity_tags %}

{% block content %}
<h2>Pending Deletion</h2>

<div class="row">
    {% for movie in movies %}
    <div class="col-sm">
        {% include 'movie/_mini.html' %}
    </div>
    {% endfor %}
</div>

{% endblock %}
