{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load activity_tags %}

{% block content %}
<h2>{{ object }}</h2>

<div class="row">
    <div class="col-sm">
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="next" value="{{ object.get_absolute_url }}">
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
    <div class="col-sm">
        {% for action in stream %}
        <div class="row">
            <div class="col-sm">
                {% display_action action %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
