{% extends 'base.html' %}

{% block content %}

<h3>{{ object }}</h3>

<div class="row">
    {% for movie in object.movie_set.all %}
        <div class="col-xs-2">
            {% include 'movie/_mini.html' %}
        </div>
    {% endfor %}
</div>


{% endblock %}
