{% load thumbnail %}
{% thumbnail movie.poster 150x200 upscale as thumb %}
<a href="{{ movie.get_absolute_url }}">
<figure class="figure" width="200px">
  {% if movie.poster %}
      <img src="{{ thumb.url }}" class="figure-img img-fluid rounded" alt="{{ movie }}" title="{{ movie }}">
  {% endif %}
</figure>
</a>
